//- Created by Pencroff on 22-Nov-15.

+slide('Advantages')
    +ul([
        'One place for DB related code',
        'Database agnostic interface for client',
        'Common contract for all models',
        'Unit testing',
        'Reduces the amount of code'
    ])