//- Created by Pencroff on 22-Nov-15.

+slide('Advantages')
    +ul([
        'Common contract for all models',
        'Caching mechanisms',
        'Possible to extend number of storage\'s (SQL, NoSQL)',
        'Change storage (SQL <=> NoSQL)',
        'Simple implementation for audit information',
        'Possible to implement record level security system'
    ])