//- Created by Pencroff on 22-Nov-15.

section(class="diagram-slide")
    div.diagram-display
    span.diagram-data(style="display: none;").
        graph TD
            A[Presentation layer]==>B[Business layer]
            B==>C[Data layer]
