//- Created by Pencroff on 30-Nov-15.

+slide('Disadvantages')
    +ul([
        'Performance',
        'Hidden specific feature DB',
        'You should know what happen behind the scene',
        'N+1 issue'
    ])