//- Created by Pencroff on 30-Nov-15.

section(data-background="img/manual.gif")
    h2(style="color:#EEE; text-shadow: 2px 2px 5px #333;") Manual
    h3(style="color:#EEE; text-shadow: 2px 2px 5px #333; text-transform: lowercase;") (most flexible, but require time and qualification)