//- Created by Pencroff on 22-Nov-15.

section(data-background="img/noop-layer.gif")
    h2(style="color:#EEE; text-shadow: 2px 2px 5px #333;") ...but not always
    h3(style="color:#EEE; text-shadow: 2px 2px 5px #333; text-transform: lowercase;") (when your app has useless layer)